
h2 {
    margin-top: 0;
    margin-bottom: 0.2em;
}
h2 + p {
    margin-top: 0;
}
ol > li {
    margin-bottom: 0.5em;
    padding: 0.5em;
    position: relative;
    padding-right: 75px;
}
.changeset {
    padding-left: 0;
}
.changeset > li {
    list-style: none;
}
.changeset > li .path,
.changeset > li .status {
    font-family: monospace;
}
.changeset > li a {
    font-size: 0.8em;
}
.changeset > li:hover {
    background-color: #F7F7CA;
}
.changeset > li a::before {
    content: '[';
    text-decoration: none;
}
.changeset > li a::after {
    content: ']';
    text-decoration: none;
}
.changeset > .d .path {
    text-decoration: line-through;
}
.gravatar {
    position: absolute;
    right: 5px;
    top: 5px;
}
